<template>
    <div style="margin: auto auto; max-width: 40em;">
  <div>
    <h1>Flipstarters on Bitcoin Cash</h1>
    <p>
        Flipstarter provides a way for any project to engage with potential funders in a way
        that encourages accountability for projects and fairness for funders.
    </p>
    <p>
        This page keeps an overview of active and historical flipstarters.
        Anything missing? Submit an issue or MR to <a href="https://gitlab.com/dagurval/flipstarters" style="color: blue">the gitlab repository</a>
    </p>
    <p>
        So far, total of
          <span style="font-weight: bolder;">{{ totalFunded }} BCH</span>
        has been funded using flipstarter.
    </p>
    <p>
        <b-button size="lg" href="https://flipstarter.cash">Run your own flipstarter</b-button>
    </p>
    </div>
    <h2>Active flipstarters</h2>
    <div v-for="flipstarter of running.slice().reverse()" :key="flipstarter.name"
        style="max-width: 40em; margin: auto auto;">
        <CampaignJumbotron :f=flipstarter />
    </div>

    <h2 v-if="upcoming.length">Upcoming flipstarters</h2>
    <div v-for="flipstarter of upcoming"
        :key="flipstarter.name"
        style="max-width: 40em; margin: auto auto;">
        <CampaignJumbotron :f=flipstarter />
    </div>

    <h2>Completed flipstarters</h2>
    <div v-for="flipstarter of completed.slice().reverse()" :key="flipstarter.name"
        style="max-width: 40em; margin: auto auto;">
        <CampaignJumbotron :f=flipstarter />
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import flipstarters from '@/flipstarters.json';
import CampaignJumbotron from '@/components/CampaignJumbotron.vue';

Vue.filter('status', (status: string) => {
  //
  const uppercaseFirst = status.charAt(0).toUpperCase() + status.slice(1);
  return `Status: ${uppercaseFirst}`;
});

@Component({
  components: {
    CampaignJumbotron,
  },
})
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  /* eslint class-methods-use-this: ["error", { "exceptMethods": ["data"] }] */
  data() {
    const running = flipstarters.filter((f) => f.status === 'running');
    const completed = flipstarters.filter((f) => {
      const s = f.status;
      return s === 'success' || s === 'expired';
    });
    const successful = flipstarters.filter((f) => f.status === 'success');
    const upcoming = flipstarters.filter((f) => f.status === 'upcoming');
    // eslint-disable-next-line
    const totalFunded = successful.reduce((a: any, b: any) => {
      const aa = typeof a === 'number' ? a : a.amount;
      const bb = typeof b === 'number' ? b : b.amount;
      return aa + bb;
    });
    return {
      running,
      completed,
      totalFunded,
      upcoming,
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #000000;
}
</style>
